
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <h2>Hakkimizda</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur non lectus eget luctus. Nam in accumsan nibh, sit amet feugiat quam. Integer commodo blandit est vel aliquet. Nam erat nibh, finibus vitae commodo vel, convallis ut nibh. Quisque a convallis urna, ut lacinia justo. Cras eu tincidunt erat, id.
    </p>
</div>


